<% @reservations.each do |reservation| %>
  <%= reservation %>
  <h3><%= /(\d{1,2}月\d{1,2}日)/.match(reservation) %></h3>
<% end %>

<% @messages.each do |message| %>
  <%= raw(message) %>
<% end %>


