<div class="container">
    <h1 align="center" style="margin-top: 50px;">
        All in BnB
    </h1>
    <p>
        ■ プライバシーポシリー
    </p>
    <p>
        株式会社VSbias（以下「当社」といいます。）は、『Be a Libertarian』というミッションのもと、サービスを通して、リバタリアニズムを体現し、誰もが個人的な自由、経済的な自由の双方を享受できる社会の創出を最大の目的としております。
    </p>
    <p>
        当社は、この目的を達成するにあたり、将来にわたってお客様の大切な個人情報を適正、安全に取り扱うことが重要と考えており、全従業者が遵守すべき行動基準として本個人情報保護方針を定め、その遵守の徹底を図ることといたします。
    </p>
    <p>
        1．当社は、すべての事業で取り扱う個人情報に関して、個人情報の取扱い関して適用される法令、国が定める指針およびその他の規範を遵守します。そのために日本工業規格「個人情報保護マネジメントシステム‐要求事項」（JIS Q
        15001：2006）に準拠した個人情報保護マネジメントシステムを整備し、適切に維持し運用いたします。
    </p>
    <p>
        2．当社は、個人情報を取得する場合、事前に利用目的をできる限り明確にし、適切な措置によって取得を行います。また、取得した個人情報の利用にあたっては、利用目的の範囲内でのみ利用し、目的外利用を行わないための適切な措置を講じます。 当社は、取得した個人情報を本人の同意なく第三者提供することはありません。
    </p>
    <p>
        3．当社は、取得した個人情報の取扱いの全部または一部を委託する場合は、委託先を適切に選定し、また、委託先に安全管理措置を遵守させるために必要な契約を締結する等の必要な措置を講じます。
    </p>
    <p>
        4．当社は、個人情報への不正アクセス、個人情報の紛失、破壊、改ざん、漏洩、滅失などのリスクに対して合理的な安全対策および是正措置を講じます。
    </p>
    <p>
        5．当社は、個人情報に関するお問い合わせや苦情に対し下記窓口で適切に対応いたします。
    </p>
    <p>
        6．当社は、個人情報の利用目的の通知、開示、訂正、削除、利用停止等の要請に対して遅滞無く対応いたします。
    </p>
    <p>
        7．当社は、個人情報保護マネジメントシステムを継続的に見直し改善いたします。
    </p>
    <p>
        ■個人情報の取扱について
    </p>
    <p>
        [事業者の名称]
    </p>
    <p>
        株式会社VSbias 　　
    </p>
    <p>
        [個人情報保護管理者の職名]
    </p>
    <p>
        CISO（最高情報セキュリティ責任者）
    </p>
    <p>
        [連絡先・問合せ窓口]
    </p>
    <p>
        1040061 東京都中央区銀座一丁目13番-1 ヒューリック銀座一丁目ビル8F
    </p>
    <p>
        info@vsbias.com
    </p>
    <p>
        [個人情報の利用目的の公表]
    </p>
    <p>
        当社が取得する個人情報の利用目的は以下の通りです。
    </p>
    <p>
        (1)当社サービス（All in BnB、エアリノベ、その他ウェブサービス）の利用時・お問い合わせ時及びイベント、セミナー等の参加時等に取得する個人情報
    </p>
    <p>
        ・当社サービスを提供するにあたり、その運営管理をするため（イベント、セミナーの共同開催企業、協賛企業への参加者情報・アンケート情報提供、キャンペーン等の運営管理を含む）
    </p>
    <p>
        ・当社サービスに関するご案内、サポート、お客様からのお問い合わせ、苦情、紛争、訴訟等への対応のため
    </p>
    <p>
        ・当社及び提携会社の商品、サービス、イベント、セミナー情報等を郵便、電話、FAX、電子メール等を通じてご案内するため
    </p>
    <p>
        ・当社サービスに関する当社の規約、ポリシー等の変更等をお客様に通知するため
    </p>
    <p>
        ・アンケート記載内容への回答やキャンペーン商品の発送のため
    </p>
    <p>
        ・上記に付随する業務遂行や連絡・手続き・問合せ対応のため
    </p>
    <p>
        ・当社サービスの改善や新規サービス開発に必要なデータを解析又は分析するため
    </p>
    <p>
        ・電話対応の品質向上及びお問合せ内容等の正確な把握のため
    </p>
    <p>
        ・個人を特定できない範囲で当社サービスに関する統計データを作成、利用、開示、提供、販売するため
    </p>
    <p>
        ・個人を特定できないようにデータ加工したうえで、当社サービスの改善や向上、マーケティング資料を作成、利用、提供、販売するため
    </p>
    <p>
        (2)取引先個人情報
    </p>
    <p>
        ・取引先としての選定業務、営業情報の提供業務、契約締結手続き業務、取引管理業務、及びこれらに付随する業務の遂行のため
    </p>
    <p>
        ・当社及び提携会社の商品又はサービス、イベント情報等を郵便、電話、FAX、電子メール等を通じてご案内するため
    </p>
    <p>
        (3)公開された各種名簿類の個人情報、WEB等の公表されている個人情報、各種書籍・新聞・雑誌類等で公表されている個人情報、データベース事業者保有の個人情報
    </p>
    <p>
        ・当社及び提携会社の商品又はサービス、イベント情報等を郵便、電話、FAX、電子メール等を通じてご案内するため
    </p>
    <p>
        ・上記に付随する業務遂行や連絡・手続き・問合せ対応のため
    </p>
    <p>
        (4)従業員・採用応募者関連の個人情報
    </p>
    <p>
        ・従業員（退職者を含む）、採用応募者、退職者の人事関連事務処理等の各種手続き、その他一般事務の連絡及び問い合わせのため
    </p>
    <p>
        (5)株主様情報
    </p>
    <p>
        ・会社法その他各種法令に基づく株主管理、各種株主施策の実施、株主への連絡のため
    </p>
    <p>
        [個人情報を第三者に提供することが予定される場合の事項]
    </p>
    <p>
        (1)当社サービスを、提携事業会社のお客様向けへ提供している場合、当該提携事業会社に対し、これらの企業が行っているサービス等の改善、向上その他当該企業が定めている利用目的に従って利用するために、当社サービスで得た情報（当該事業会社のお客様に係るものに限る）を電子的に送信する等の方法により提供する場合
    </p>
    <p>
        (2)セミナー・イベントの共同開催会社や協賛会社に対し、当該企業が参加者のニーズ等の把握や参加者に適切な情報提供や連絡等を行うため、申込情報やアンケート情報を書面の送付または持参もしくは電子的に送信する等の方法により提供する場合
    </p>
    <p>
        上記以外については、ご本人の同意がある場合または法令に基づく場合を除き、第三者に提供いたしません。
    </p>
    <p>
        [業務の委託]
    </p>
    <p>
        当社は利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合があります。
    </p>
    <p>
        [個人情報の提供の任意性の有無]
    </p>
    <p>
        個人情報の提供は任意ですが、必要な個人情報の提供をいただけない場合、ご本人様に対して適切なご対応が出来ない場合がございます。
    </p>
    <p>
        [本人が容易に認識できない方法による個人情報の取得の有無]
    </p>
    <p>
        ウェブサイト内において、ウェブサイトの使い勝手を向上させる目的や、アクセス状況などの統計情報を取得する目的、広告効果測定の目的で、当社もしくは第三者によるクッキーやウェブビーコン等の技術を使用することがあります。また当社サイトの管理のために、IPアドレスの収集もおこなっております。いずれも当サイト上のサービスを適切・安全に管理・運営するためにのみ利用するものであり、お客様が入力していない個人情報を取得することはありません。
    </p>
    <p>
        [開示等の求めに応じる手続きについて]
    </p>
    <p>
        開示対象個人情報につきましては、開示対象個人情報のご本人またはその代理人からの利用目的の通知、開示、訂正等（内容の訂正、追加または削除）、利用停止等（利用の停止、消去）、第三者の提供の停止の請求がなされた場合、その求めに応じて合理的な範囲内で対応させていただいております。なお、開示請求にあたっては、当社指定の様式（開示等申請書）をご利用ください。同様式は、下記窓口までご連絡いただければ、ご請求者様へ送付いたします。
    </p>
    <p>
        開示等申請書には、ご本人であることの確認のため、身分証明書（運転免許証（お手数でも本籍地は消してご提出ください）、健康保険証、年金手帳、パスポートのいずれか）のコピーを添付ください。
    </p>
    <p>
        代理人による申請の場合は、本人が同意した代理人であることを示す以下の書類と代理人の身分証明書（同上）のコピーを添付ください。
    </p>
    <p>
        法定代理人の場合：1）戸籍謄本 2）成年後見登録事項証明書　３）その他法定代理権を示す資料
    </p>
    <p>
        任意代理人の場合：1）委任状（開示対象者本人様の印鑑証明書添付）
    </p>
    <p>
        開示等申請書とこれら本人確認書類等を受領後、開示等請求いただいた個人情報につきまして、書面によりご通知いたします。なお、個人情報開示請求および個人情報利用目的通知請求につきましての手数料は1000円です。当社指定銀行口座へのお振込みをお願いいたします。
    </p>
    <p>
        1. 事業者の氏名または名称
    </p>
    <p>
        株式会社VSbias 　　　
    </p>
    <p>
        2. 個人情報保護管理者の職名、連絡先
    </p>
    <p>
        CISO（最高情報セキュリティ責任者）
    </p>
    <p>
        1040061 東京都中央区銀座一丁目13番-1 ヒューリック銀座一丁目ビル8F
    </p>
    <p>
        info@vsbias.com
    </p>
    <p>
        3. 開示対象個人情報および利用目的
    </p>
    <p>
        上記『個人情報の利用目的の公表』の記載
    </p>
    <p>
        4. 開示対象個人情報の取扱いに関する苦情の申し出窓口、および、開示等の求めの申し出窓口
    </p>
    <p>
        株式会社VSbias 　　　　個人情報お問い合わせ窓口
    </p>
    <p>
        1040061 東京都中央区銀座一丁目13番-1 ヒューリック銀座一丁目ビル8F
    </p>
    <p>
        info@vsbias.com
    </p>
</div>

<br>