<div class="container">
    <p style="margin-top: 50px">
        ■利用規約
    </p>
    <p>
        （総則）
    </p>
    <p>
        1. 本利用規約は、株式会社VSbias（以下「当社」といいます。）が利用者に提供・運営する（All in BnB、エアリノベ、その他ウェブサービス）（以下、「本サービス」といいます。）について、本サービスを利用する方と当社との間の本サービス利用に関する基本的な事項を規定します。
    </p>
    <p>
        2. 本サービスは、利用者がアグリゲーション・サービス及びAPI連携サービスにて得られた情報、並びに当社が任意に定める期間の利用者開示情報を蓄積、更新、加工・編集等の上、本サイト又は本アプリ上に表示し管理することができるサービスです。
    </p>
    <p>
        （定義）
    </p>
    <p>
        1. 「利用者」とは、本利用規約を承認の上、当社と本サービス利用契約（第19項に規定します。）を締結した法人、団体又は個人をいいます。
    </p>
    <p>
        2. 「利用希望者」とは、本サービスの利用を希望する法人、団体又は個人をいいます。
    </p>
    <p>
        3. 「利用者登録」とは、第８条に規定する方法に従って、利用希望者が行う本サービスの利用登録をいいます。
    </p>
    <p>
        4. 「利用者登録情報」とは、利用希望者及び利用者が利用者登録時に登録した当社が定める情報、本サービス利用中に当社が必要と判断して登録を求めた情報及びこれらの情報について利用者自身が追加、変更を行った場合の当該情報をいいます。
    </p>
    <p>
        5. 「利用者開示情報」とは、利用者が、本サービス内に開示・投稿・送信・掲載等を行う情報又はコンテンツ（第8項に規定します。）をいいます。
    </p>
    <p>
        6. 「コンテンツ」とは、文章・画像・映像・プログラム・データ等の情報をいいますが、これらに限りません。
    </p>
    <p>
        7. 「コンテンツサイト」とは、第三者が運営・管理する宿泊者と物件提供者のマッチングを提供するサービスを行うサイトのうち、当社が任意に指定するサイトをいいます。
    </p>
    <p>
        8. 「コンテンツパートナー」とは、コンテンツサイトを運営する主体をいいます。
    </p>
    <p>
        9. 「ユーザーID」とは、パスワードと組み合わせて、利用者とその他の者とを識別するために用いられる符号をいいます。
    </p>
    <p>
        10. 「パスワード」とは、ユーザーIDと組み合わせて、利用者とその他の者とを識別するために用いられる符号をいいます。
    </p>
    <p>
        11. 「本サイト」とは、当社が運営する本サービスを提供するサイトを指し、「当社の指定するサイト」とは、本サイト以外の当社が任意に指定するサイトをいいます。
    </p>
    <p>
        12. 「本アプリ」とは、当社が運営する本サービスを提供するアプリケーション及び関連ソフトウェアをいいます。
    </p>
    <p>
        13. 「アグリゲーション・サービス」とは、利用者が本サイト又は本アプリを経由して各コンテンツサイトにアクセスして利用者自身の物件情報を取得し、取得した物件情報を本サイト又は本アプリ上に一覧表示することができるサービスをいいます。
    </p>
    <p>
        14. 「コンテンツサイトID」とは、コンテンツサイトパスワードと組み合わせて、利用者とその他の者とを識別するために用いられる符号をいいます。
    </p>
    <p>
        15. 「コンテンツサイトパスワード」とは、コンテンツサイトIDと組み合わせて、利用者とその他の者とを識別するために用いられる符号をいいます。
    </p>
    <p>
        16. 「API連携サービス」とは、利用者の同意により各コンテンツパートナーが提供するAPI等のシステムを介して本サイト又は本アプリが各コンテンツサイトへアクセスして利用者自身の物件情報を取得し、取得した物件情報を本サイト又は本アプリ上に一覧表示することができるサービスをいいます。
    </p>
    <p>
        17. 「本サービス利用契約」とは、利用者が本サービスを利用するに際し、利用者及び当社との間に発生する本サービスの利用に関する契約関係をいいます。
    </p>
    <p>
        （適用範囲）
    </p>
    <p>
        1. 本利用規約は、本サイト、本アプリ及び本サービスの利用に関し、当社及び利用者に対して適用されます。
    </p>
    <p>
        2. 当社が本サイト又は本アプリに個別規定や追加規定を掲載する場合、当該規定は本利用規約の一部を構成するものとし、個別規定又は追加規定が本利用規約と抵触する場合には、個別規定又は追加規定が優先するものとします。
    </p>
    <p>
        3. 当社からリンクされた他のサイトについては、当該他のサイトの利用規約等に同意のうえ、当該規約等に従ってご利用ください。
    </p>
    <p>
        （本アプリ使用権の許諾）
    </p>
    <p>
        当社は、利用者に対し、本利用規約に規定された条件の下で、非独占的に利用者のスマートフォン等、本アプリに対応した携帯端末機器（以下「携帯端末」といいます。）に、本アプリをダウンロードして使用することを許諾するものとします。なお、当社は、本アプリがすべての携帯端末に対応することを一切保証しません。
    </p>
    <p>
        （本アプリ使用権の範囲）
    </p>
    <p>
        1. 本アプリは、利用者が個人で使用する目的でのみ利用することができ、販売、配布及び開発目的など他の目的で使用することはできません。
    </p>
    <p>
        2. 利用者は、本アプリを、当社から提供された状態でのみ利用するものとし、本アプリの複製、修正、変更、改変又は翻案を行ってはなりません。
    </p>
    <p>
        3. 利用者は、当社から許諾された本アプリに関するプログラム（オブジェクトコードであるとソースコードであるとを問いません。）の一部又は全部を複製、修正、変更、改変又は翻案し、第三者に開示してはなりません。
    </p>
    <p>
        （本アプリについての使用許諾期間）
    </p>
    <p>
        本アプリの使用許諾期間は、利用希望者の本アプリ購入手続きが完了した時から開始し、本アプリ上に記載の有効期限が到来するまでとします。ただし、利用希望者の本アプリ購入手続きが完了したことは、当社と利用希望者との間で本サービス利⽤契約が締結されたことを意味するものではありません。
    </p>
    <p>
        （本サービスによる情報提供の範囲）
    </p>
    <p>
        1.
        当社は、利用者が本サービスを利用してアクセスできるコンテンツサイトを、当社の指定するサイト上に表示することにより公表するものとします。この内、利用者が本サービスによって自己の物件情報を取得できるコンテンツサイトは、利用者が当該コンテンツサイトにアクセスするためのコンテンツサイトID及びコンテンツサイトパスワードを所持しているコンテンツサイトに限られます。
    </p>
    <p>
        2. 当社は、本サービスの適切な運用のため、利用者の投稿したコンテンツ、物件情報その他本サービスの利用状況等を確認することがあります。利用者は、自己の本サービスの利用状況等が当社によって確認される可能性があることに予め同意するものとします。
    </p>
    <p>
        3. 当社は、利用者がアクセスすることができるコンテンツサイトを、追加又は削除することがあり、利用者は、これに異議を述べることができないものとします。
        利用者は、コンテンツサイトが削除された場合、以後本サービスにおいて当該コンテンツサイトから物件情報を閲覧・取得等できなくなることを予め異議無く承諾するものとします。
    </p>
    <p>
        4.
        当社は、利用者が本サービスにおいて登録できる口座を、本サイト又は本アプリ上に表示することにより公表するものとします。利用者が本サービスにより取得できる物件情報は、利用者が予め登録した口座に関するものに限られます。当社は、利用者が口座を登録した後連続して180日を越える期間本サービスを利用しなかったときは、当該利用者が登録した口座を削除することができるものとします。
    </p>
    <p>
        5. 当社は、利用者が取得することができる物件情報の表示項目を、追加又は削除することがあり、利用者は、これに異議を述べることができないものとします。
    </p>
    <p>
        6. 本サービスによって得られる情報の内容及び期間については、当社が任意に定めることができるものとし、利用者は、これに異議を述べることができないものとします。
    </p>
    <p>
        7. コンテンツサイトから取得する物件情報の内容がいつ時点のものであるかについては、コンテンツサイト側で提供される情報等の内容によって異なります。
    </p>
    <p>
        8.
        当社は、利用者が本サービスにアクセスした直後において、利用者の意思にかかわらず物件情報の更新を行いますが、更新が完了するまでの間、本サイト又は本アプリ上には、利用者が前回アクセス時に表示した物件情報が表示される場合があります。また当社は、登録された物件情報を原則として定期的に取得し、本サービスに反映します。
    </p>
    <p>
        9. 利用者の物件情報及び関連する情報は、当月を含む直近の24ヶ月分を保存します。ただし、これらの情報が損失しても当社は何ら責任を負わないものとします。利用者は、これに異議を述べることができないものとします。
    </p>
    <p>
        10. 1コンテンツサイトあたり1回に取得できる物件情報の件数には制限があります。利用者は、当該コンテンツサイトの全ての物件情報を取得できない場合があることを予め異議無く承諾するものとします。
    </p>
    <p>
        （利用者登録）
    </p>
    <p>
        1. 本サービスは、利用者及び利用希望者が、本利用規約及びこれに関連する規約・通知等を変更なく受け入れること、及び第３項の審査により承認されることを条件として、当社により提供・運営されるサービスです。
    </p>
    <p>
        2.
        利用希望者は、本サービス利用申込みに際し、本サイト又は本アプリに別途定める方法に従い、本サイト又は本アプリにて定める本サービスの利用に際して必要な登録方法を確認し、本利用規約を承諾の後、利用者登録を行うものとします。なお、利用者登録を行った利用希望者は、本利用規約及びこれに関連する規約・通知等の全てを変更なく受け入れることに同意したものとします。
    </p>
    <p>
        3. 当社は、前項の利用者登録に基づいて審査を行い、当社が当該利用希望者の本サービス利用申込みを承認した時点で、当社から当該利用希望者に対して、本サービスに関する利用資格を付与するものとし、その時点をもって当該利用者と当社との間に本サービス利用契約が成立するものとします。
    </p>
    <p>
        4. 当社は、本サービス利用申込みの審査により、利用希望者が次の各号の何れか一つに該当することが判明した場合、当該申込みを承認しないことができるものとします。ただし、次の各号の何れか一つに該当しない場合においても、当社は本サービス利用申込みに対して承認の義務を負うものではありません。
    </p>
    <p>
        * 本サービス利用申込みに際して、故意過失の有無にかかわらず、他人名義や架空名義の利用・虚偽記載・誤記等、事実と異なる記載がある場合又は記入漏れがある場合
    </p>
    <p>
        * 当該利用希望者が、本サービス利用に際して、本サービス利用契約成立後において利用者登録抹消等のサービス利用停止措置を受けた又は受けている場合
    </p>
    <p>
        * 当該利用希望者が、過去に本サービスを利用し中傷行為を行った場合、本サービス利用契約違反を繰り返した場合、又はこのような者であると合理的に疑われる場合
    </p>
    <p>
        * 暴力団、暴力団員、暴力団準構成員、総会屋、社会運動等標榜ゴロ、特殊知能暴力集団その他これに準じる反社会的勢力（以下「反社会的勢力等」といいます。）であると判明した場合又は反社会的勢力等が経営に実質的に関与している法人等であると判明した場合
    </p>
    <p>
        * その他、当社が本サービスの提供を不適切又は不可能と判断した場合
    </p>
    <p>
        5. 未成年者が本サービスの利用を希望する場合には、法定代理人の同意が必要になります。未成年者が会員となった場合には、本サービスの利用及び本利用規約の内容について、法定代理人の同意があったものと取り扱わせていただきます。
    </p>
    <p>
        （通信の秘密）
    </p>
    <p>
        1. 当社は、電気通信事業法に基づき、利用者の通信の秘密を守ります。ただし、本利用規約に定める場合、本サービス提供の必要上やむを得ないと当社が判断した場合、又は利用者から同意を取得した場合はこの限りではありません。
    </p>
    <p>
        2. 当社は、次の各号のいずれか一つに該当する場合、当該各号に定める範囲内において前項の守秘義務を負わないものとします。
    </p>
    <p>
        * 刑事訴訟法若しくは犯罪捜査のための通信傍受に関する法律の定めに基づく強制処分又は裁判所の命令が行われた場合
    </p>
    <p>
        * 法令に基づく行政処分が行われた場合
    </p>
    <p>
        * 特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律第４条に基づく開示請求の要件が満たされていると当社が判断した場合
    </p>
    <p>
        * 人の生命、身体又は財産の保護のために必要があると当社が判断した場合
    </p>
    <p>
        * その他当社が必要と判断した場合
    </p>
    <p>
        （利用者の義務）
    </p>
    <p>
        1. 利用者は、本サービスを利用するための通信機器やソフトウェア、電話利用契約の締結、携帯端末利用契約の締結、インターネットサービスプロバイダへの加入等を自己の費用と責任において準備、実施するものとします。
    </p>
    <p>
        2. 利用者は利用者登録情報及びパスワードを自らの責任において管理しなければなりません。また、利用者は、利用者登録情報及びパスワードを貸与、譲渡、名義変更、売買又は質入してはならず、また、方法の如何を問わず第三者に利用させてはならないものとします。
    </p>
    <p>
        3. 利用者は、本サービス内に利用者開示情報の開示・投稿・送信・掲載等を行う場合、当該利用者開示情報が他の利用者に開示・閲覧・利用されることを予め異議無く承諾するものとします。
    </p>
    <p>
        4.
        アグリゲーション・サービス又はAPI連携サービスを利用することによるコンテンツサイトへのアクセス、物件情報の取得、一覧表示、蓄積、更新、加工・編集等を目的としたコンテンツサイト上でのコンテンツサイトID及びコンテンツサイトパスワードの自動入力、又はコンテンツサイトへのAPI等による自動接続は、利用者自身が本サービスを利用することにより自らの意思で行う行為であり、利用者は、これらの行為により生ずる結果全てについて責任を負うものとします。当社は、これらの行為の当事者、使者、代理人又は仲立人等とならず、これらの行為により生ずる結果について一切責任を負わないものとします。
    </p>
    <p>
        5. 利用者は、本サービスを利用してなされた一切の行為とその結果について、全ての責任を負うものとします。また、利用者は、本サービスの利用に関して第三者から問い合わせ、苦情を受けた場合には、自己の責任と費用をもって処理及び解決するものとします。
    </p>
    <p>
        6.
        当社は、ユーザーID及び対応するパスワードその他の利用者登録情報が第三者に使用されたことによって当該利用者が被る損害については、当該利用者の故意過失の有無にかかわらず、一切責任を負いません。また、当該ユーザーID及び対応するパスワードその他の利用者登録情報によりなされた本サービスの利用は、当該利用者によりなされたものとみなします。
    </p>
    <p>
        7. 利用者は、利用者登録情報に変更があった場合には、本サイト又は本アプリの所定の方法により、変更があった日から１４日以内に当該利用者登録情報の変更を行わなければなりません。
    </p>
    <p>
        8. 利用者は、前項の変更を怠ったことにより当社からの通知が不到達となった場合、当該通知は通常到達すべき時に到達したとみなされることを予め異議無く承諾するものとします。
    </p>
    <p>
        9. 利用者が第７項の変更を怠ったことにより生じた損害について、当社は一切責任を負わないものとします。
    </p>
    <p>
        10.
        利用者は、本サービスの利用により、当社又は第三者に対して損害を与えた場合（利用者が本利用規約に違反したことにより、当社又は第三者が損害を被った場合を含みます。）には、自己の責任と費用をもって処理及び解決するものとします。また、利用者の行為により第三者から当社が損害賠償請求を受けた場合には、当該利用者は当社に対し、当社に生じた損害及び費用（合理的範囲内の弁護士費用等の間接的な損害及び費用を含みます。）を補償するものとします。
    </p>
    <p>
        （利用者の退会）
    </p>
    <p>
        1.
        利用者は、本サイト又は本アプリ所定の方法により本サービス利用契約を解約することができます。なお、本サービス利用契約の解約は即時有効とし、当該利用者は本サービスを利用することができなくなるとともに、当社は、当社の裁量により、当該利用者の全ての利用者開示情報を公開停止又は削除することができます。また、当該利用者は、本サービス利用契約解約後も当社が第16条に定める方法により当該利用者の利用者開示情報を保有・利用すること及び本サービス利用契約解約後も当社及びその他の第三者に対する本サービス利用契約上の一切の義務及び債務（損害賠償を含みますが、これに限りません。）を免れるものではないことを、予め異議無く承諾するものとします。
    </p>
    <p>
        2. 前項の場合、当社は、当社の裁量により、当該利用者のユーザーIDを削除することができるものとします。また、当社は、本条に基づく本サービス利用契約の解約により利用者、当社及び第三者に生じた損害につき、一切責任を負いません。
    </p>
    <p>
        3. 利用者は、退会後に再度本サービスの登録を希望する際は、再度登録手続を行う必要があります。利用者は、再度の登録手続後、退会前のデータが引き継がれないことを予め異議無く承諾するものとします。
    </p>
    <p>
        （禁止事項）
    </p>
    <p>
        1. 利用者は、本サービスの利用に際して、次の各号に掲げる事項に該当する若しくはそのおそれのある行為を行ってはなりません。利用者は、本サービス利用に際しては、本利用規約の他、当社が別途定める規定及び個別規定並びに追加規定をも遵守しなければならないものとします。
    </p>
    <p>
        * 個人情報にかかわる情報、氏名・住所・電話番号や個人が特定できる情報(メールアドレスやナンバープレート等)、又は特定の個人が推測できる情報（以下「個人情報」といいます。）を投稿・公開する行為。なお、本サイト又は本アプリでは利用者自身の個人情報に関わる投稿も禁止します。
    </p>
    <p>
        * 金融商品取引法に違反する以下の行為
    </p>
    <p>
        * 風説の流布（明白に虚偽とは言えなくとも、合理的な根拠のない情報等）
    </p>
    <p>
        * 上場有価証券の相場が自己又は他人の操作によって変動するということの流布
    </p>
    <p>
        * 取引関係者、内部からなどによる暴露的な書き込みや公表前の内容（インサイダー情報）の投稿及び糾弾や弾圧行為
    </p>
    <p>
        * 雑誌、フリーペーパー、新聞、書籍、歌詞、他サイトの記事等を掲載する等の知的財産権（特許権、著作権、商標権等）を侵害する行為
    </p>
    <p>
        * タレントや有名人の氏名・肖像を第三者が経済的利益を得る目的で利用する等のパブリシティ権を侵害する行為
    </p>
    <p>
        * 肖像権、人格権、プライバシー権その他他人の権利を侵害する行為
    </p>
    <p>
        * 選挙の事前運動、選挙運動、又はこれらに類似する行為等の公職選挙法に違反・抵触する行為
    </p>
    <p>
        * 公序良俗に反する行為
    </p>
    <p>
        * その他法令又は条例に違反する行為
    </p>
    <p>
        * 本サイト又は本アプリに他人の個人情報を登録する等、本サイト又は本アプリ利用にあたり虚偽の申告、届出を行なう行為
    </p>
    <p>
        * 宗教活動・政治活動・思想活動・反社会的勢力等への勧誘行為
    </p>
    <p>
        * 個人・法人への誹謗中傷、名誉の侵害、又はそのように誤解されるような行為。個人・法人、及びそれらが有するウェブサイトについて批判する行為
    </p>
    <p>
        * 企業に対する業務妨害となる行為
    </p>
    <p>
        * 他の利用者に対する嫌がらせ行為、挑発、又はそれと誤解されるような（脅迫的、命令口調、喧嘩口調、罵声、自己又は関係者が反社会的勢力等である旨を伝える行為を含みます。）行為
    </p>
    <p>
        * 反社会的勢力等への利益供与
    </p>
    <p>
        * 商業用の広告・宣伝行為、又はそれと疑わしき行為（ただし、当社が許諾した場合は除く。）
    </p>
    <p>
        * 営業活動若しくは営利行為、又はそれらの準備行為（ただし、当社が許諾した場合は除く。）
    </p>
    <p>
        * 求人、求職、内職関連情報を掲載する行為
    </p>
    <p>
        * 本サイト又は本アプリを通じて物品販売（個人売買、譲渡、募集を含みます。）、物品交換（チケット交換、ダフ屋行為）、オークションなどを行う行為
    </p>
    <p>
        * 事業者（個人、法人問わず）が本サイト又は本アプリを利用して調査する行為
    </p>
    <p>
        * 猥褻、暴力的、グロテスク、18歳未満の閲覧に問題（風俗・ギャンブル等）のある内容及び画像の投稿、コミュニティの作成並びに同内容のサイトへの外部リンクや誘導行為
    </p>
    <p>
        * 他の利用者が不快に感じると思われる内容及び画像の投稿
    </p>
    <p>
        * 売春・買春などの性交及び猥褻な行為となり得る出会い等を誘導する行為
    </p>
    <p>
        * 民族・人種差別にあたる投稿を行う行為
    </p>
    <p>
        * 本サイト又は本アプリを利用した値引き、紹介、紹介の依頼及び寄付金を集う行為
    </p>
    <p>
        * アフィリエイトの外部リンクを掲載すること及びメッセージを送信する行為
    </p>
    <p>
        * 署名集め又はねずみ講、マルチ商法若しくは連鎖販売取引などのネットワークビジネスや出会い系サイトの勧誘
    </p>
    <p>
        * 犯罪行為、自殺、自傷行為、薬物乱用、法令違反などを美化、誘発、又は助長するおそれのある行為
    </p>
    <p>
        * 犯罪予告及び犯罪予告であると認識される行為
    </p>
    <p>
        * 自殺志願及び自殺予告であると認識される行為
    </p>
    <p>
        * 訴訟中及び今後訴訟になりうる行為
    </p>
    <p>
        * 行方不明者、動物、物品などの捜索に本サイト又は本アプリを利用する行為
    </p>
    <p>
        * チェーンメール（「家族・知人等にも連絡してください」等）、又はチェーンメールと疑わしき行為
    </p>
    <p>
        * なりすまし（自分以外の人物を名乗る等）行為（なお、利用者は自己の利用者登録情報が他人によって不正利用されていることを知った場合、直ちに当社にその旨を連絡してください。）
    </p>
    <p>
        * ユーザーIDを譲渡又は売買する行為
    </p>
    <p>
        * マルチポスト（重複書き込み）、重複スレッド立て及びシステムを利用した連続投稿
    </p>
    <p>
        * 自作自演行為（その前提行為としての複数のユーザーIDの取得行為を含みます。）
    </p>
    <p>
        * 虚言又はそれと疑わしき内容の投稿
    </p>
    <p>
        * 内容が無意味なもの、意味不明なもの、テスト（空白も含みます。）思われる投稿
    </p>
    <p>
        * 伏せ字や暗号文、又はそれと認識される内容の投稿
    </p>
    <p>
        * 複数行にわたる顔文字、絵文字、無意味な改行等を含む投稿
    </p>
    <p>
        * 過剰リロード及びシステム的アクセス行為などによりＰＶ（ページビュー）を増やす行為
    </p>
    <p>
        * 本サイト若しくは本アプリの運営又はネットワーク・システムを妨害する行為
    </p>
    <p>
        * 不正アクセスや正式には公開されていない操作方法、及び本サービス利用契約において定められた方法以外の方法によって本サイト又は本アプリのサービスを利用する行為（他人のユーザーID及びそれに対応するパスワードの利用等）
    </p>
    <p>
        * コンピュータウィルス等有害なプログラムを使用若しくは提供する行為、又はそのおそれのある行為
    </p>
    <p>
        * 利用者から利用者への警告行為（違反行為に対しては当社から違反行為者に警告します。利用者同士の警告行為は行わないでください。）
    </p>
    <p>
        * 第三者に対し、本アプリの使用を再許諾する行為
    </p>
    <p>
        * 本アプリに関するプログラム（オブジェクトコードであるとソースコードであるとを問いません。）をリバースエンジニアリングする行為
    </p>
    <p>
        * 本サイト又は本アプリの信頼を損なう行為
    </p>
    <p>
        * 他の利用者の個人情報を収集・蓄積する行為
    </p>
    <p>
        * 前号までに該当する書き込みを期待する投稿
    </p>
    <p>
        * その他、上記に類する行為
    </p>
    <p>
        2. 当社は、本サービス利用において問題がある行為、又は今後問題になる可能性があると当社が判断する行為について、本利用規約上、本サイト及び本アプリ上に追加で掲載する場合があります。利用者は適宜本利用規約及び本サイトを確認の上、追加事項も遵守しなければなりません。
    </p>
    <p>
        （公開一時停止）
    </p>
    <p>
        1.
        利用者が前条に違反した場合、又は第三者からの苦情があった場合等前条に違反する可能性があると当社が合理的事由に基づき判断する場合、当社は、当該事由が解消し、かつ、前条に違反する可能性が消滅したと判断できるようになるまで、当社の裁量により、当該利用者の承諾なしに、問題となっている利用者の利用者開示情報を一時的に公開停止することができるものとし、利用者はこれに対して予め異議無く承諾するものとします。
    </p>
    <p>
        2.
        前項の場合、当社は利用者に対する通知をもって、当社が指定する一定の期間内に利用者自身において前条に違反する事由を除去すべき旨を告知するものとし、利用者は当該期間内にかかる告知に従い、前条に違反する又は違反する可能性がある事由を解消し、又は当該違反の可能性を回避するために利用者開示情報を改変若しくは削除するものとします。
    </p>
    <p>
        3.
        前項の期間内に前条に違反する可能性が消滅したと当社が判断できず、かつ、利用者が当該利用者開示情報を改変又は削除しない場合、当社は、利用者に通知したうえで、利用者開示情報を前条に違反しないと当社が判断しうるような結果になるように改変又は削除することができるものとし、利用者はこれに対して著作権、著作者人格権その他一切の権利を行使せず、かつ、異議を述べないものとします。
    </p>
    <p>
        （ユーザーIDの停止又は取り消し）
    </p>
    <p>
        1. 当社は、利用者が次に掲げる事項の何れか一つに該当することが判明した場合、当社の裁量により、当該利用者のユーザーIDを停止し、かつ、利用者開示情報を削除することができるものとし、当該利用者は予め異議無くこれを承諾するものとします。
    </p>
    <p>
        * 本利用規約上の義務に違反した場合
    </p>
    <p>
        * 本サービスの運営・保守管理上、必要であると判断した場合
    </p>
    <p>
        * 当社が指定する決済方法の不正使用が判明した場合
    </p>
    <p>
        * 当社が指定する決済方法の決済サービス会社より利用者の決済を停止又は無効扱いとされた場合
    </p>
    <p>
        * 未成年者が法定代理人の許諾なく、本サービスを利用した場合
    </p>
    <p>
        * 被後見人・被保佐人・被補助人が、後見人・保佐人・補助人等の許諾なく、本サービスを利用した場合
    </p>
    <p>
        * 死亡した場合又は後見開始、保佐開始若しくは補助開始の審判を受けた場合
    </p>
    <p>
        * その他前各号に類する事由があると当社が判断した場合
    </p>
    <p>
        2.
        当社が前項に基づいて利用者のユーザーIDを停止し、利用者開示情報を削除した場合、当該利用者が停止日から１年以内に当社の当該利用者資格停止に関する判断について重大な誤りがないことを立証しない限り、当社所定の方法により通知することをもって、当該利用者の本サービス利用契約を解約することができます。ただし、第３項又は第4項に該当する場合、当該規定が本項に優先します。
    </p>
    <p>
        3. 当社は、第１項に基づき利用者資格の停止を受けた利用者が当社から期間を定めた催告を受けたにもかかわらず、なおその事由が解消されない場合には、当社所定の方法により通知することをもって、本サービス利用契約を解約することができるものとします。
    </p>
    <p>
        4. 前項にかかわらず、当社は、利用者が第１項所定の事由に該当し、かつ、当社の業務遂行に支障を来たすと判断した場合には、事前の通知なしに直ちに本サービス利用契約を解約することができるものとし、利用者は異議無くこれを承諾するものとします。
    </p>
    <p>
        5. 第２項乃至第４項に基づき利用者との本サービス利用契約を解約した場合、当社は、当社の裁量により、当該利用者のユーザーIDを削除することができるものとします。
    </p>
    <p>
        6. 利用者は、本条に基づく本サービス利用契約解約後も当社が第16条に定める方法により当該利用者開示情報を保有・利用すること、及び本サービス利用契約解約後も当社及びその他の第三者に対する一切の義務（損害賠償義務を含みますが、これに限りません。）を免れるものではないことを、予め異議無く承諾するものとします。
    </p>
    <p>
        7.
        同一利用者が複数の利用者登録を行い、複数のユーザーIDを取得している場合において、当該利用者のユーザーIDのうち何れかについて、第１項に基づきユーザーIDを停止又は本サービス利用契約を解約された場合には、当社は、当該利用者が有する全ての本サービスのユーザーID及び当社が同一利用者であると判断した全ての本サービスのユーザーIDについて、直ちに利用を停止することができるものとします。
    </p>
    <p>
        8. 当社は、本条に基づく本サービス利用契約の解約及びそれに伴う行為により利用者及びその他の第三者に生じた損害につき、一切責任を負いません。
    </p>
    <p>
        （個人情報及び利用者登録情報、コンテンツサイト関連データの取り扱い）
    </p>
    <p>
        1. 当社は、個人情報、利用者登録情報その他利用者に関する情報を別途本サイト又は本アプリに掲示する「個人情報保護方針」に基づき、適切に取扱います。
    </p>
    <p>
        2. 当社は、「個人情報保護方針」に基づき、本サービス提供及びこれに付随する業務に必要な範囲で個人情報、利用者登録情報その他利用者に関する情報の取扱いを業務委託先に委託することができるものとします。
    </p>
    <p>
        3.
        アグリゲーション・サービス又はAPI連携サービスを利用することによる、コンテンツサイトへのアクセス、物件情報の取得、一覧表示、蓄積、更新、加工・編集等を目的としたコンテンツサイト上でのコンテンツサイトID及びコンテンツサイトパスワードの自動入力又はコンテンツサイトへのAPI等による自動接続は、利用者自身が本サービスを利用することにより自らの意思で行う行為であり、利用者は、当該行為により生ずる結果全てについて責任を負うものとします。当社は、当該行為により生ずる結果について一切責任を負わないものとします。
    </p>
    <p>
        4. 本サービスでは、本サービス利用状況を把握するため、Google Analyticsを利用して、アクセスログを収集しています。Google
        Analyticsは、cookie（クッキー）を使用し、個人を特定する情報を含むことなく、本サービスの利用状況を収集し、収集された情報はGoogle社のプライバシーポリシーに基づき管理されます。Google
        Analyticsの利用規約及びGoogle社のプライバシーポリシーについては、同社のサイトをご覧ください。当社は、Google Analyticsのサービス利用による損害について責任を負わないものとします。
    </p>
    <p>
        5. 本サービスでは、本サービス利用状況を把握するため、Optimizelyを利用して、アクセスログを収集しています。Optimizelyは、 cookie（クッキー）を使用し、個人を特定する情報を含むことなく、本サービスの利用状況を収集し、収集された情報は
        Optimizely社のプライバシーポリシーに基づき管理されます。Optimizelyの利用規約及びOptimizely社のプライバシーポリシーについては、同社のサイトをご覧ください。当社は、Optimizelyのサービス利用による損害について責任を負わないものとします。
    </p>
    <p>
        6.
        本サイトでは、効果的な広告配信のために次に掲げる第三者が行う広告サービスを利用しています。当社は、個人情報、利用者登録情報その他利用者に関する情報を別途本サイト又は本アプリに掲示する「個人情報保護方針」に基づき、適切に取扱います。それぞれのサービスでは、利用するクッキーは効果的な広告配信の目的のみに使用し、その他の目的や個人情報の収集には一切使用しません。これらのクッキーを無効にしたい場合はお手数ですが、以下の各クッキーの状態確認ページにおいて、手順に従い無効化してください。
    </p>
    <p>
        * 株式会社マイクロアド
    </p>
    <p>
        * 株式会社東京コンシューマーシステム
    </p>
    <p>
        * 株式会社ファンコミュニケーションズ
    </p>
    <p>
        * バリューコマース株式会社
    </p>
    <p>
        * 株式会社フォーイット
    </p>
    <p>
        7. 利用者は、当社が利用者のアクセスログデータ、暗号化された個人情報、その他の情報を取得して本サービスの改良、開発等に利用することに同意するものとします。
    </p>
    <p>
        8.
        利用者は、本サービスを利用して取得した全ての情報に関連する一切の判断を、利用者自身の責任の下で行うこと、及び当該判断により行われた取引等の一切の結果について当社、コンテンツパートナーいずれも責任を負わないこと、並びに本サービスの利用に関して利用者とコンテンツパートナー又は第三者との間で紛議が生じた場合、利用者は当社に対して一切責任を追及できないことを予め異議無く承諾するものとします。
    </p>
    <p>
        （利用者開示情報の取り扱い）
    </p>
    <p>
        1.
        当社は、当社の裁量に基づき、利用者が本サービス上に掲載させるために送信した利用者開示情報の内容を確認し、本利用規約に違反し又は違反する疑いがあると判断した場合には、利用者への事前の通知及び承諾なしに、利用者開示情報の全部又は一部を非公開に設定し、又は削除する掲載制限措置を行うことができるものとします。当社が行う利用者開示情報の確認は、利用者開示情報の本サイト又は本アプリへの開示の前後を問わず、当社が必要と判断したときに行うものとします。
    </p>
    <p>
        2.
        利用者は、利用者開示情報に知的財産権が含まれる場合、当該知的財産権（意匠権、著作権、商標権等を含みますがこれに限りません。）を自らが保有していること、自らが権利者より正当に使用を許諾されていること、又は適法に当該知的財産権を使用していることを保証するものとします。万一、第三者より利用者開示情報に対して異議が申し立てられた場合、当該異議に対しては利用者が自己の費用と責任をもって対処することとし、当社は一切の責任を負いません。当該異議に関連して当社に損害が生じた場合、利用者は当社に対しその損害を賠償するものとします。
    </p>
    <p>
        3. 利用者は、利用者開示情報及びそのデータに起因する物理的、精神的被害を含む一切の結果に対して責任を持つものとします。
    </p>
    <p>
        4.
        当社は、当社の裁量に基づき、本サービス内に限らず、あらゆる用途と場所において利用者開示情報を自由に複製、翻訳、編集及び改変等して使用し、第三者に提供し、内容を調査し、本サービス及び本サービス以外の広告宣伝活動に利用し、本サービス又は本サービス以外の広告等と組み合わせて編集及び掲載し、並びに第三者がこれらを行うことを許諾することができるものとします。
    </p>
    <p>
        5.
        当社が許諾する第三者は、利用者に対して何ら告知することなく、前項に記載する行為を行うことができ、また当該行為について利用者に対しいかなる対価、報酬の支払いも必要としないものとします。利用者はこれらを予め異議無く承諾し、当社が許諾する第三者に対して当該行為に関する一切の責任を免除し、著作者人格権その他の権利を行使しないものとします。
    </p>
    <p>
        （本サービスの変更、中断、中止、追加及び廃止等）
    </p>
    <p>
        1. 当社は、利用者に事前の通知をすることなく、本サービスの内容の全部又は一部を変更、追加、廃止することができるものとします。
    </p>
    <p>
        2. 当社は、当社の判断により本サービスの全部又は一部の提供・運営を中止することができます。また、当社は、当社の判断により本サービスの全部又は一部の提供・運営を中止する場合、当社が適当と判断する方法で利用者にその旨を通知します。ただし、緊急の場合は利用者への通知を行わない場合があります。
    </p>
    <p>
        3. 当社は、次の各号に掲げる事由が生じた場合には、利用者に事前に通知することなく、本サービスの一部又は全部を一時的に中断することができます。
    </p>
    <p>
        * 本サービス用のハード・ソフト・通信機器設備等に関わるメンテナンスや修理を定期的又は緊急に行う場合
    </p>
    <p>
        * 電気通信事業者の役務が提供されない場合
    </p>
    <p>
        * 天災等の不可抗力により本サービスの提供が困難な場合
    </p>
    <p>
        * 火災、停電、その他の不慮の事故により本サービスの提供が困難な場合
    </p>
    <p>
        * 戦争、紛争、動乱、暴動、労働争議等により本サービスの提供が困難な場合
    </p>
    <p>
        * その他前各号に準じ当社が必要と判断した場合
    </p>
    <p>
        4. 当社は、本サービスの利用希望者、利用者又は第三者に対して、前三項に定める変更、追加、廃止、中止、中断等による損害について、損害賠償、原状回復その他一切の責任を負担しないものとします。
    </p>
    <p>
        （著作権等の帰属）
    </p>
    <p>
        1.
        本サービスにおいて、当社が利用者に提供するコンテンツに関する著作権その他一切の知的財産権は当社又は当社に権利の使用を許諾したライセンサーに帰属し、利用者は、当社及びライセンサーの許諾を得ずにコンテンツの翻訳、編集及び改変等を行い、又は第三者に使用させ、公開することはできません。また、利用者は、著作権法に定める私的使用の範囲を超えてコンテンツを複製することはできません。
    </p>
    <p>
        2. 利用者が本条の規定に違反して問題が生じた場合、利用者は、自己の費用と責任において問題を解決するものとし、当社に迷惑や損害を与えてはなりません。
    </p>
    <p>
        3. 本サービスは日本国内をサービス提供対象とし、当社は日本国外における権利者の知的財産権に対していかなる保証もせず、また一切の責任を負いません。
    </p>
    <p>
        4.
        本サイト又は本アプリ上には商標、ロゴ及びサービスマーク等（以下、総称して「商標等」といいます。）が表示される場合がありますが、当社は、本利用規約により利用者その他の第三者に対し何ら当該商標等を譲渡し、又は使用を許諾するものではなく、利用者は、本サイト又は本アプリ上の未登録商標に対し商標登録の出願をしてはならないものとします。また、利用者は本サービスに関わる発明その他の知的財産に関し特許権、実用新案権、意匠権、商標権を出願申請し、著作権に関する登録を申請してはならないものとします。
    </p>
    <p>
        （反社会的勢力等の排除）
    </p>
    <p>
        当社は、反社会的勢力等による本サービスの利用を禁止します。当社は、利用者が反社会的勢力等に該当すると判断した場合、事前に利用者に通知することなく、本サービスの提供を停止することができます。当社は、当該提供停止によって利用者に生じた損害や不利益について、一切の責任を負いません。
    </p>
    <p>
        （連絡・通知）
    </p>
    <p>
        1. 本サービスに関する問い合わせその他利用者から当社に対する連絡又は通知、及び本利用規約の変更に関する通知その他当社から利用者に対する連絡又は通知は、当社の定める方法で行うものとします。
    </p>
    <p>
        2. 当社は、利用者が登録したメールアドレスに、本サービスに関する広告・宣伝等のメールを配信することがあります。
    </p>
    <p>
        （免責）
    </p>
    <p>
        1. 前条までに規定する内容の他、本条に定める場合、当社及び情報提供者は免責されるものとします。
    </p>
    <p>
        2. 当社は、利用者が本サービスを利用することにより知り得た物件情報に起因して損害を受けた場合でも、事由の如何を問わず、何らの責任を負わないものとします。
    </p>
    <p>
        3. 当社は、利用者が本サービスの提供を受けられなかったときでも、何ら責任を負わないものとします。本項における「本サービスの提供を受けられなかったとき」には、通信回線の障害その他事由のいかんを問わず、利用者が本サービスの提供を受けることができなかったあらゆる場合を含むものとします。
    </p>
    <p>
        4. 当社は、利用者が撮影したレシート画像からコンテンツ情報が適切に取込まれることを保証しません。また、適切に取込まれないことに起因して利用者が被った損害についても、一切の補償責任を負わないものとします。
    </p>
    <p>
        5. 当社は本サービスにおけるいかなるデータ、情報についてもウイルス等の不可抗力の要因により消去・変更されないことを保証するものではありません。利用者は、かかるデータ、情報を自己の責任において適宜保存するものとします。
    </p>
    <p>
        6. 利用者が本サービスの利用に関して被った財産的損害、信用損害、その他一切の損害について、当社は、事由の如何を問わず何ら責任を負わないものとします。
    </p>
    <p>
        7. 当社及び情報提供者は、原則として、利用者間の通信や活動に関与しません。万一利用者間で紛争や問題が生じた場合であっても、当該利用者間で解決するものとし、当社及び情報提供者はその責任を負いません。
    </p>
    <p>
        8. 利用者以外の第三者と利用者との間で紛争が起こった場合には、紛争の当事者である利用者は自己の責任で解決するものとし、当社及び情報提供者は一切関与しません。また、当該第三者が損害を被った場合には、当該利用者が賠償するものとし、当社及び情報提供者は一切の責任を負いません。
    </p>
    <p>
        9. 本サイト又は本アプリは、投資判断の参考として投資一般に関する情報提供をすることを目的としたものであり、投資の勧誘を目的としたものではありません。投資に関する最終的な決定は、利用者自身で判断するものとし、当社及び情報提供者は一切関与せず、かつ、一切の責任を負いません。
    </p>
    <p>
        10. 本サイト又は本アプリ上の情報には将来的な業績や出来事に関する予想が含まれている可能性がありますが、それらの記述は予想であり、当社は内容の正確性、信頼性等を保証するものではありません。当社は、当該情報に基づいて利用者が被ったいかなる損害についても、一切の責任を負いません。また、当社及び情報提供者は、
        本サイト又は本アプリ上のいかなる情報をも、更新又は訂正する義務を負いません。
    </p>
    <p>
        11. 当社は、利用者が本サービスを利用することによりコンテンツサイトから取得した物件情報その他の情報に関する問い合せについては、対応する義務はないものとします。
    </p>
    <p>
        12. 当社は、利用者が本サービスの利用によりコンテンツサイトから取得する物件情報その他の情報の完全性、正確性、確実性、有用性等について、何らの保証も行わず、責任を負担しないものとします。
    </p>
    <p>
        （本サービス利用契約上の地位の譲渡等）
    </p>
    <p>
        1. 利用者は、当社の書面による事前の承諾なく、本サービス利用契約上の地位又は本利用規約に基づく権利義務の全部又は一部を、第三者に譲渡（合併、会社分割等による包括承継も含みます。）し、又は担保の目的に供することはできません。
    </p>
    <p>
        2.
        当社が本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い本サービス利用契約上の地位、本利用規約に基づく権利及び義務並びに利用者登録情報その他の利用者に関する情報を当該事業譲渡の譲受人に譲渡できるものとし、利用者は、かかる譲渡につき本項において予め同意したものとみなします。本項にいう事業譲渡には、当社が消滅会社となる合併又は分割会社となる会社分割等による包括承継を含むものとします。
    </p>
    <p>
        （損害賠償の制限）
    </p>
    <p>
        1. 当社は、本サービスの利用により利用者その他の第三者に生じた一切の損害につき、賠償義務を負いません。
    </p>
    <p>
        2. 当社は、利用者その他の第三者に発生した機会逸失、業務の中断その他いかなる損害（間接損害や逸失利益を含みます。）に対して、損害の可能性を事前に通知されていたとしても、一切の責任を負いません。
    </p>
    <p>
        （規約改定）
    </p>
    <p>
        当社は、当社が必要と判断した場合、利用者への事前の通知及び承諾を得ることなく、本サイト又は本アプリ上に掲載することにより本利用規約及び本サービス利用契約の変更・追加・削除等を行うことができるものとし、如何なる変更・追加・削除等も本サイト又は本アプリ上に掲載されると同時にその効力が生じるものとします。また、利用者が、当社が通知を掲載した時点以降、本サービスの利用を継続した場合は、利用者は、当該変更・追加・削除等を異議なく受け入れることを表明したものとみなします。
    </p>
    <p>
        （完全合意）
    </p>
    <p>
        本利用規約は、本利用規約に含まれる事項に関する当社と利用者との完全な合意を構成し、口頭又は書面を問わず、本利用規約に含まれる事項に関する当社と利用者との事前の合意、表明及び了解に優先します。
    </p>
    <p>
        （分離可能性）
    </p>
    <p>
        本利用規約のいずれかの条項又はその一部が、法令等により無効又は執行不能と判断された場合であっても、本利用規約の残りの規定、及びその一部が無効又は執行不能と判断された規定の残りの部分は、継続して完全に効力を有し、当社及び利用者は、当該無効若しくは執行不能の条項又は部分を適法とし、執行力をもたせるために必要な範囲で修正し、当該無効若しくは執行不能な条項又は部分の趣旨並びに法律的及び経済的に同等の効果を確保できるように努めるものとします。
    </p>
    <p>
        （準拠法）
    </p>
    <p>
        本利用規約、本サービス利用契約、及びこれに関する一切の事項については、日本国法を準拠法とし、本利用規約及び本サービス利用契約は、日本国法に従って解釈されるものとします。
    </p>
    <p>
        （合意管轄）
    </p>
    <p>
        本サービスに関連して、利用者と当社の間で問題が生じた場合、両者は誠意を持って協議するものとし、協議しても解決しない場合には東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。
    </p>
    <p>
        平成28年6月10日　制定
    </p>
</div>

<br>