.social_proof_container {
  height: 200px;
  background-color: whitesmoke;
}

.affiliate_logos {
  height: 80px;
  width: auto;
  margin: 0 auto;
  display: table;
}

.devise_box {
  padding: 50px;
  border-radius: 3px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.list-layout {
  list-style-type: none;
}