.description {
  margin-bottom: 50px;
}

.navbar-brand {
  padding: 0px !important;
}

.social_proof_container {
  color: white;
  height: auto;
  background-color: #28282e;
  padding: 20px 0px 80px 0px;
}

.social_proof_box {
  margin: 20px 0px;
}

.affiliate_logos {
  height: 80px;
  width: auto;
  margin: 0 auto;
  display: table;
}

.devise_box {
  padding: 50px;
  border-radius: 3px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.list-layout {
  list-style-type: none;
}